 *{
font-family: sans-serif;
}

.menu_nav_item {
    display: inline-block;
    font-size: large;
    }
 
.menu {
    background-color: blueviolet;
    }

.menu_nav_item a {
    color: white;
    text-decoration: none;
    }
.menu_nav_item a:hover {
     color: crimson;
    }

.menu_nav_item a:active {
    color: blue;
    }

.menu_nav_item a::after {
    content: " | ";
}
